{% extends "base/base.html" %}

<!-- prettier-ignore -->
{% block title %}{{ vehicle.make }} {{ vehicle.model }}{% endblock %}

<!-- prettier-ignore -->
{% block content %}

<div class="row">
  <div class="col-md-5">
    {% if vehicle.image %}
    <img src="{{ vehicle.image.url }}" class="img-fluid rounded shadow-sm" />
    {% else %} {% load static %}
    <img
      src="{% static 'images/vehicle.jpg' %}"
      class="img-fluid rounded shadow-sm"
    />
    {% endif %}
  </div>

  <div class="col-md-7">
    <h2>{{ vehicle.make }} {{ vehicle.model }}</h2>
    <p class="text-muted">Plat: {{ vehicle.plate }}</p>
    <p class="text-muted">Tahun: {{ vehicle.year }}</p>
    <p class="text-muted">Status: {{ vehicle.status }}</p>
    <h4>Rp {{ vehicle.price_per_day }} / hari</h4>

    <a
      href="{% url 'rental:start_rental' vehicle.id %}"
      class="btn btn-primary mt-4"
    >
      Sewa Sekarang
    </a>
  </div>
</div>

{% endblock %}
